/* Colors
color: #003A40; */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* basic settings */
body{
    font-family: 'Lato', 'Arial', sans-serif;
}

p{
    color: #515151;
}

/* header */
header{
    background-color: #003A40;
}

.humburger i{
    color: white;
    font-size: 17px;
}

hr{
    height: 3px !important;
}

blockquote::before{
    content: open-quote;
    font-size: 20px;
}

blockquote::after{
    content: close-quote;
    font-size: 20px;   
}

/* Questionnaire & Scorecard impact section start */
.questionnaire-row, .frequent-row, .achieving-row{
    border-left: 9px solid #003A40;
}

.blog-list{
    list-style: none;
}

.questionnaire-list li{
    color: #515151;
}

.achievement-block{
    color: #048C98;
}

